<%= form_with(model: @category, url: categories_path, method: :post, html: { class: 'category-form-new d-flex flex-column m-4' }, data: { turbo: false }) do |form| %>
  <% if @category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% @category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h3 class='mb-2 align-self-center'>New Category</h3>
  <div class="field mb-3">
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Enter a category name", class: 'form-control' %>
  </div>
  <div class="field mb-3">
    <%= form.label :icon %>
    <%= form.file_field :icon, class: 'form-control' %>
  </div>
  <%= form.submit 'Save Category', class:"btn btn-primary"%>

<% end %>
