<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <% if form_page? %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <% else %>
          <%= link_to :back, class:'link-light' do %>
            <svg xmlns="http://www.w3.org/2000/svg" width="2.5em" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg>
          <% end %>
        <% end %>
        <h4 class="m-0 d-lg-none <%= 'flex-fill text-center' unless form_page? %>"><%= @page_title %></h4>
        <h4 class="d-none d-lg-block m-0 <%= 'flex-fill text-center' unless form_page? %>">Budget App</h4>
        <% if form_page? %>
          <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" fill="currentColor" class="bi bi-search d-lg-none" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        <% end %>
        <% if form_page? %>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav container-fluid mb-2 mb-lg-0 ps-4">
              <li class="nav-item">
                <%= link_to "Categories", categories_path, :class => current_class?(categories_path) %>
              </li>
              <li class="nav-item">
                <%= link_to "Transactions", operations_path, :class => current_class?(operations_path) %>
              </li>
              <% if signed_in? %>
                <li class="nav-item ms-lg-auto">
                  <%= link_to "Edit User", edit_user_registration_path, class: 'nav-link ms-auto' %>              
                </li>
                <li class="nav-item d-flex align-items-center">
                  <%= button_to "Log Out", destroy_user_session_path, class: ' btn btn-outline-light px-1 py-0 ', method: :delete  %>              
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </nav>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
    <% end -%>
    <%= yield %>
  </body>
</html>
